/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #introCarousel {
        margin-top: -58.59px;
    }
}

.navbar {
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
}


.navbar {
    position: absolute;
    left: 0px;
    height: 60px;
    background-color: #262626;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.navbar ul {
    position: sticky;
    display: inline-block;
    align-items: center;
    background-image: linear-gradient(#191E29, #262626);
    align-items: center;
    height: 8vh;
    border-radius: 22px;

}

#logoicon {
    width: 144px;
    margin-bottom: -14px;
    border-radius: 10vw;
}


.navbar li {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 10px;
    display: inline-block;
    margin-top: 20px;

    border-right: 1px solid #e9e7e7;

}

/* unvisited link */
.navbar a:link {
    color: #e9e7e7;
    font-weight: bold;
    background: none;
    text-decoration: none;
}

/* visited link */
.navbar a:visited {
    color: #e9e7e7;
}

/* mouse over link */
a:hover {
    color: #bbb;
}

/* selected link */
a:active {
    color: #fad391;
}


nav img {
    width: 44px;
    height: 44px;
    margin-bottom: -10px;
}


/* Colors */

/* 
fad391
f59470
f0544f
d81e5b
861b47
331832 */